.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-style: solid;
    -fx-border-radius: 0px;
}
.root {
    -fx-background-image: url("deadpool.jpg"); /* Path to the image */
    -fx-background-size: cover;   /* Resize the image to cover the area */
    -fx-background-position: center center; /* Center the image */
    -fx-background-repeat: no-repeat; /* Prevent the image from repeating */
    -fx-font-weight: bold;
    -fx-font-size: 12px;

}

.single-cell:hover {
    -fx-border-color: #dd0909;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}

.headers-cell:hover {
    -fx-border-color: #fb6d6d;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}


#selected-cell {
    -fx-border-color: #91b2f0;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 2px;
}


.depends-on-cell {
    -fx-border-color: rgb(52, 152, 219);
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-radius: 2px;
}

.influence-on-cell {
    -fx-border-radius: 2px;
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-border-color: rgb(34, 221, 28);
}


.selected-range {
    -fx-border-color: #00FF00BF;
    -fx-border-width: 3px;
    -fx-border-style: dotted;
    -fx-border-radius: 2px;

}
.header-label {
    -fx-border-color: #dd0909;         /* Border color */
    -fx-border-radius: 10px;           /* Rounded corners */
    -fx-border-width: 2px;             /* Border thickness */
    -fx-padding: 3px;                  /* Padding between text and border */
    -fx-end-margin: 3px;
    -fx-start-margin: 3px;
    -fx-background-color: transparent; /* Keep background transparent */     /* Text color */
}
.button {
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

#Back2Dash{
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #ff4d4d 0%, #cc0000 100%), /* Light red to dark red */
            #ff3333,  /* Bright red */
            #ff6666,  /* Lighter red */
            radial-gradient(center 50% 50%, radius 100%, #ff1a1a, #e60000); /* Red gradient */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-text-fill: white;

}